@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 239, 240;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 65, 79, 101;
    --background-end-rgb: 96, 115, 136;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}



p {
  @apply mb-3;
}

img[src$=".webp"] {
  @apply p-1.5 bg-white bg-opacity-30;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.advanced-marker {
  z-index: 1; 
}

.advanced-marker.selected {
  z-index: 2; 
}

.advanced-marker:hover {
  z-index: 3; 
}

@keyframes spin-infinite {
  0% {
    stroke-dasharray: 0.01px, 43.97px;
    transform: rotate(0deg);
    visibility: visible;
  }
  50% {
    stroke-dasharray: 21.99px, 21.99px;
    transform: rotate(450deg);
  }
  100% {
    stroke-dasharray: 0.01px, 43.97px;
    transform: rotate(1080deg);
  }
}

@keyframes slide-infinite-1 {
  0% {
    opacity: 1;
    transform: translate(-100%);
  }

  70% {
    opacity: 1;
    transform: translate(300%);
  }

  70.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(300%);
  }
}

@keyframes slide-infinite-2 {
  0% {
    opacity: 0;
    transform: translate(-150%);
  }

  29.99% {
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: translate(-150%);
  }

  100% {
    opacity: 1;
    transform: translate(166.66%);
  }
}
